body {
    background-image: url(images/sea.png);
}
h1  {
    color: deeppink;
    font-family: Kablammo;
    text-align: center;
    
}
span {
    background-color: rgb(9, 9, 83);
}
p {
    text-align: left;
    color: greenyellow;
    font-family: Satisfy;
    font-size: 2em;
}
span2 {
    background-color: rgb(19, 19, 85);
}

#altay {
    border: 10px solid hotpink;
    padding-top: 5px;
    margin: 40px;
}
#atlas {
    border: 10px dotted rgb(222, 94, 115);
    margin: 199px;
}